<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head.ejs") %> 
</head>
<body>
  <%- include("./partials/navbar.ejs") %> 
  <h1>About this site</h1>
  <p>This is a site about making a project with basic information routes.</p>
</body>
</html>