<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head.ejs") %> 
</head>
<body>
  <%- include("./partials/navbar.ejs") %> 
  <h1>Contact me</h1>
  <p>Contact me if you got my info.</p>
</body>
</html>